@use '../abstracts/variables' as *;

.auth-layout {
    background-color: $color-bg-auth;
    font-family: $font-family-base;
    color: $color-text-main;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.auth-page {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $spacing-lg;
    width: 100%;
}