<div class="header">
  <div class="header-content">
    <div class="header-top">
      <div class="logo-icon">
        <img src="/img/1.png" alt="" width="70px">
      </div>
      <div class="header-title">
        <h2>Thư viện đại học công nghiệp hà nội</h2>
      </div>
    </div>
    <button class="btn-login">
      <i class="fas fa-sign-in-alt"></i>
      Đăng Nhập
    </button>
  </div>
</div>